
.main {
    /* height: 100%; */
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.responsive {
    display: none
}

.hold {
    height: 680px;
    /* height: 500px; */
    width: 1600px;
    /* margin-top: -80px; */
    margin-left: -158px;
    background-size: cover;
    position: fixed;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

}

.hold img {
    height: 700px;
    /* height: 120vh; */
    width: 900px;
    /* max-width: 50%; */
    /* max-height: 20%; */
    object-fit: cover;
    left: -10%;
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    

}

.btn2 {
    height: 60px;
    width: 165px;
    /* padding: 20px; */
    top: 55%;
    left: 60%;
    position: absolute;
    background-color:  #3F3F8F;
    text-align: center;
    border-radius: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.btn2 h2 {
    left: 40%;
    color: white;
}

.btn2 h4 a {
    left: 40%;
    color: white;
    line-height: 60px
}
nav {
    position: fixed;
    top: 4%;
    width: 50%;
    margin-left: 42%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.navlinks {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 26px;
/* line-height: 56px; */

color: #3F3F8F
}

.slug {
    position: absolute;
    top: 20%;
    left: 60%;
    font-family: 'Roboto', sans-serif;
}

.slug h1 {
    color: #3F3F8F;
    font-family: 'Roboto', sans-serif;

}

.btn {
    height: 60px;
    width: 145px;
    /* padding: 20px; */
    top: 45%;
    left: 60%;
    position: absolute;
    background-color:  #3F3F8F;
    text-align: center;
    border-radius: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.btn4 {
    height: 60px;
    width: 218px;
    /* padding: 20px; */
    top: 65%;
    left: 60%;
    position: absolute;
    background-color:  #3F3F8F;
    text-align: center;
    border-radius: 20px;
    display: flex;
    color: white;
    font-family: 'Roboto', sans-serif;
    justify-content: center
}

a {
    text-decoration: none;
    color: #3F3F8F
}

.btn h2 {
    left: 40%;
    top: 10px;
    color: white;
}

.btn4 h2 {
    left: 40%;
    color: white;
}

.btn h4 a {
    left: 40%;
    top: 10px;
    color: white;
    line-height: 60px
}

.btn4 h4 a {
    left: 40%;
    top: 10px;
    color: white;
    line-height: 60px
}

.btnresponse {
    height: 60px;
    width: 145px;
    padding: 10px;
    /* top: 45%; */
    left: 28%;
    margin-top: 40px;
    margin-bottom: 10px;
    position: relative;
    background-color:  #3F3F8F;
    text-align: center;
    border-radius: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;

}

.textresponse {
    z-index: 4;
    display: none;
}

@media only screen and (max-width: 450px) {
    .main {
        display: none;
    }

    .responsive {
        text-align: center;
        position: relative;
        top: 0%;
        left: 0%;
        display: block;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        justify-content: center
    }

    .imgresponse {
        height: 812px;
        position: absolute;
        top: 0%;
        left: 0%;
        object-fit: cover;
        /* max-height: 100%; */
        width: 100%;
        max-width: 100%
    }

    .imgresponseimg {
        height: 812px;
        position: absolute;
        top: 0%;
        left: 0%;
        object-fit: cover;
        /* max-height: 100%; */
        width: 100%;
        max-width: 100%
    }

    .imgresponse::after {
        content: "";  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    opacity: .7;   }

    .textresponse {
        position: absolute;
        display: block;
        z-index: 4;
        width: 100%;
        color: white;
        bottom: 60%;
        height: 100%;
        text-align: center;
        align-items: center
    }
    
    .textresponse, h2 {
        color: white;
        justify-content: center;
        height: 100%;
    }


    .responsive, h2 {
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
        z-index: 4;
        color: white
    }
    
    .hold {
         /* height: 900px */
         /* height: 500px; */
         width: 350px;
        margin-top: 40px;
        /* margin-left: 100px */
    
    }
    img {
        /* height: 1000px; */
        width: 400px;
        /* max-width: 50%; */
        /* max-height: 20%; */
        /* object-fit: cover */
    
    }

    nav {
        position: absolute;
        top: 4%;
        width: 58%;
        margin-left: 40%
    }

    .navlinks {
        display: flex;
        justify-content: space-between;
        font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    /* line-height: 56px; */
    
    color: #3F3F8F
    }
}