body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    justify-items: center;
    align-items: center;
}

.btn {
   
    position: absolute;
    /* bottom: 0; */
    left: 0;
    background-color: rgba(236, 241, 241, 0.527) !important;
    margin-bottom: 6px;
    border-radius: 10px
}

.btn:hover {
    background-color: rgba(0, 187, 212, 1) !important;
    
}

.box {
    margin-left: 15%;
    margin-top: 100px;
    /* align-content: center; */
    width: 34%;
    background: white;
    border-radius: 10px;
    float: left;
    position: relative;
    
    /* left: 50% */

}

.main {
    height: 100%;
}

.tile {
    height: auto;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    font-family: 'Roboto', sans-serif;
    padding: 20px
}

.textfield {
    width: 250px;
    margin-bottom: 10px;
    
}

.label {
    margin-top: 20px
}
.select {
    width: 200px;
    margin-top: 10px
}

.legen {
    position: relative;
    margin-top: 282px;
    height: 100px;
    text-align: center;
    background-color: white

}

@media only screen and (max-width: 450px) {
    .box {
        width: 80%;
        margin-left: 5%;
    }
    .googlebox1 {
        /* display: none; */
        /* 
        height: 400px;
        width: 289px; */
    }

    /* .googleboxmobile {
        height: 400px;
        width: 200px;
        display: inline;
    }
 */
   
}

.box, .inner {
    background: rgb(7, 218, 165);
    padding: 1em;
    border-radius: 10px;
    clip-path: circle(60% at 0% 0%);
    transition: clip-path .5s ease-in-out;

    
}



.inner  h2 {
    color: white;
    margin: 0;
    margin-left: -30%
}

.inner p {
    color: white;
    font-size: .8rem;
}


.box:hover, .inner {
    clip-path: circle(75%);
    background: #00B6FF
}


.box:hover, .googlebox {
    clip-path: circle(100%);
    background: #00B6FF
}
img {
    display: block;
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
  animation: slide 1s;
  /* clip-path: circle(50% at 0% 0%); */
}

h2{
    padding: 5px;
}

.mapStyles {
    width: '100%';
    height: '100%';
}

.googlebox {
    margin-left: 800px;
    margin-top: 100px;
    /* margin-top: -500px */
    /* position: relative */
    /* position: fixed; */
    border-radius: 10px;

    clip-path: circle(50% at 0% 0%);
    transition: clip-path .5s ease-in-out;
}

.googlebox:hover {
    clip-path: circle(100%);
    background: #00B6FF
}

.whole {
    display: inline-block
}


.googlebox1 {
    height: 400px;
    width: 400px;
}


@keyframes slide {
    0% {clip-path: circle(50% at 0% 0%)}
    50% {clip-path: circle(75%)}
    100% {clip-path: circle(100%)}
    }

a {
    text-decoration: none;
    color: white
}

.googleboxmobile {
    height: 400px;
    width: 280px;
}

@media only screen and (min-width: 400px) {
.googleboxmobile {
    display: none
}

}